body{
    overflow-x: hidden !important;
}
.firstDivAfterNav{
    
    height: 630px;
    width: 100%;
    background-image: url(../media/women.jpg);
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TitleOfPicture {
    width: max-content;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.ButtomOfPicture{
    width: max-content;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-light{
    background-color: rgb(240, 247, 255);
    
}
.textInImg{
    color: #F79F17;
    font-size: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.781);
    font-weight: lighter;
    font-family: lato ;
}
/**************************************************/
.partieCourses{
    height: max-content;
    
    
}

.filter > li{
    border-bottom: 2px rgba(0, 0, 0, 0.397) solid;
    font-size: 13px;
    font-weight: 900;
    font-family: lato !important;
    list-style-type: none;
    display: inline-block;
    padding: 14px 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.filter{
    
}
.list-group-item{
    border: none;
}
.wid{
    align-items: center;
    width: 200px;
    text-align: center;
}



.dispnone{
    display: none;
}
.list-group-item-warning {
    width: 165px;
    height: 45px;
    color: #856404;
    background-color: #ffeeba;
}
.nanAndCarousel{
    display: flex;
    
    height: max-content;
}
.navwcar{
    height: max-content;
    width: max-content;
    
}
.allPage{
    
    
    height: max-content;
}
.PariteAnimation{
    
    width: max-content;
    height: max-content;
    
    
}
.dispnone{
    display: none;
}
.carouss{
    margin: 0 !important;
}
.card{
    width: 270px;
}
/*footer css*/
.footer{
    width: 100%;
    height: max-content;
    background-color: #121921;
}
.rowFooter{
    
    height: max-content;
}

.socialMediaIcons{
    opacity: 70%;
}
.socialMediaIcons:hover{
    opacity: 100%;
    transition: ease-in .3s;
}
.footerBottom{
    height: 50px;
    background-color: #202935;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15.5px;
    color: white;
    font-family: comic sans ms;
}
.usefulLi{
    margin-left: 68px;
    margin-bottom: 16px;
    width: max-content;
}
.usefulLi:hover{
    margin-left: 85px;
    transition: ease-in.1s;
}

.imgT{
    opacity: 71%;
}
.opa{
    opacity: 100%;
}
.Cli{
    margin-left: 30px;   
}
.imgT{
    margin-right: 10px;
}

/*resonsive css*/
@media screen and (max-width : 1290px){
    .searchN{
        width: 200px !important;
    }
    .anim{
        width: 450px !important;
        margin-top: 25%;
    }
    
    .card{
        width: 200px !important;
    }
    .swiper-container{
        width: 600px !important;
    }
    .list-group-item-warning{
        width: 150px !important;
    }
    .filter{
        margin-left: 52px !important;
    }
    
    
}

@media screen and (max-width : 1107px){
    .loginbtn{
        width: 95px !important;
        font-size: 12.5px !important;
    } 
    .signupbtn{
        width: 95.4px !important;
        font-size: 12.5px !important;
    }    
.logo{
    width: max-content;
}
    .logoN{
        width: 200px !important;
    }
    .nav-list{
      left: 230px;
    }
    .btnC{
        width: 150px !important;
        font-size: 13.89px !important;
    }
}


@media screen and (max-width : 1060px){
    .anim{
        width: 400px !important;
    }
}

@media screen and (max-width : 1200px){
    .filter{
        margin-left: 30px !important;
        
        width: 620px !important;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @media screen and (max-width :991px){
        .filterTeamnav{
            
            width: 400px !important;
            
        }
        
        .swiper-container {
            
            margin-left: 13px;
            width: 770px !important;
            
        }
        .card{
            width: 280px !important;
        }
        
        .anim{
            width: 550px !important;
            margin-left: 140px;
            margin-top: 100px !important;
            
        }
        .khaadraaaaaaaaaaaaaaaaaaaaaaa{
            height: 500px !important;
            position: relative;
            
        }
        .anim{
            top: -100px;
            position: absolute;
            
        }
        .filter{
            
            flex-direction: row;
        }
        .ll{
            margin-left: 40px;
            justify-content: flex-start !important;
        }
        .list-group-item-warning{
            padding-right: 57px !important;
            padding-left: 57.5px !important;
            margin-left: 0 !important;
        }
        .textInImg{
            font-size: 70px;
        }
        .firstDivAfterNav{
            height: 540px !important;
        }
        
    }
    
    
    
    
    
    @media screen and (max-width: 830px){
        .list-group-item-warning{
            padding-right: 50px !important;
            padding-left: 50.5px !important;
            margin-left: 0 !important;
        }
        
        .swiper-container {
            
            margin-left: 15px;
            width: 710px !important;
            
        }
        .card{
            width: 300px !important;
        }
    }
    
    
    @media screen and (max-width: 770px){
        .textInImg{
            font-size: 60px;
        }
        .firstDivAfterNav{
            height: 500px !important;
        }
        } 
    
    
    @media screen and (max-width: 770px){
        .list-group-item-warning{
            padding-right: 37.5px !important;
            padding-left: 37.5px !important;
            margin-left: 0 !important;
        }
        
        .swiper-container {
            
            margin-left: 15px;
            width: 610px !important;
            
        }
        .card{
            width: 300px !important;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    @media screen and (max-width: 800px){
        .anim{
            margin-left: 80px;
        }
    }
    @media screen and (max-width: 680px){
        .anim{
            margin-left: 50px;
        }
        .list-group-item-warning{
            padding-right: 32.6px !important;
            padding-left: 32.6px !important;
            margin-left: 0 !important;
        }
        
        .swiper-container {
            
            margin-left: 15px;
            width: 570px !important;
            
        }
    }
    @media screen and (max-width: 680px){
        .anim{
            
            margin-left: 40px;
        }
    }
    @media screen and (max-width: 630px){
        .anim{
            
            margin-left: 40px;
        }
    }
    
    @media screen and (max-width: 580px){
        .anim{
            
            margin-left: 40px;
        }
    }
    @media screen and (max-width: 480px){
        .anim{
            
            margin-left: 40px;
        }
    }
    







    @media screen and (max-width: 630px){
        .anim{

        }
        .list-group-item-warning{
            padding-right: 24px !important;
            padding-left: 24px !important;
            margin-left: 0 !important;
        }
        
        .swiper-container {
            
            margin-left: 15px;
            width: 500px !important;
            
        }
    }









    /* Color Theme Swatches in Hex */
    .E-Learning-Video-Games-1-hex { color: #000000; }
    .E-Learning-Video-Games-2-hex { color: #E8FFFF; }
    .E-Learning-Video-Games-3-hex { color: #FFC231; }
    .E-Learning-Video-Games-4-hex { color: #F1E444; }
    .E-Learning-Video-Games-5-hex { color: #4CE2D2; }